.anchor:not(.toc) {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 4v17l6-4 6 4V4c0-.6-.4-1-1-1H7a1 1 0 00-1 1z'/%3E%3C/svg%3E") no-repeat center;
    cursor: default;
    display: inline-block;
    height: 21px !important;
    padding: 0 2px;
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    width: 20px !important;
}

.toc {
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' %3E%3Cpath d='M18 4a2 2 0 012 2v13a2 2 0 01-2 2H6a2 2 0 01-2-2V6c0-1.1.9-2 2-2h12zm0 12h-8v3h8v-3zM7 16a1 1 0 00-1 1v1a1 1 0 002 0v-1c0-.6-.4-1-1-1zm11-5h-8v3h8v-3zM7 11a1 1 0 00-1 1v1a1 1 0 002 0v-1c0-.6-.4-1-1-1zm11-5h-8v3h8V6zM7 6a1 1 0 00-1 1v1a1 1 0 102 0V7c0-.6-.4-1-1-1z'/%3E%3C/svg%3E") no-repeat center;
    cursor: default;
    display: inline-block;
    height: 21px !important;
    padding: 0 2px;
    -webkit-user-modify: read-only;
    -moz-user-modify: read-only;
    -webkit-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    user-select: all;
    width: 20px !important;
}

.explanation {
    border-bottom: 1px dotted #000;
    cursor: help;
    display: inline-block;
    padding: 0;
    position: relative;
}